*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html,body{
    height: 100%;
    background: rgb(225,225,225);
}
/*Pagina de login*/
.box-login{
    max-width: 600px;
    width: 95%;
    padding: 40px 2%;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
    
}
.box-login h2{
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    
}

.box-login input[type='text'],
.box-login input[type='password']{
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 8px;
    border-radius: 4px;
}

.box-login input[type=submit]{
    padding: 10px 60px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background:#0ca360;
    color: white;
    font-size: 16px;    
    
}
.box-login table td a{
    padding: 10px 60px;
    cursor: pointer;
    text-decoration: none;   
    border-radius: 4px;
    background:saddlebrown;
    color: white;
    font-size: 16px;    
    line-height: 40px;
    margin-left: 50px;
}
/*Fim pagina de login*/

/*Painel de controle*/

.clear{
    clear: both;
}

.center{
    margin: 0 auto;
    padding: 0 2%;    
}

.menu{
    overflow-y: auto;
    height: 100%;
    background: #455a64;    
    width: 300px;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
}

.box-user{
    text-align: center;
}

.avatar-user{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #2f3d42;
    display: inline-block;    
    text-align: left;
}

.avatar-user svg{
    font-size: 50px;
    color: #2f3d42;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.user-name{
    text-align: center;
    margin-top  : 10px;
}
.user-name p{
    color: white;
    font-size: 18px;
    
}

header{
    position: relative;
    left: 300px;    
    padding: 10px;
    background: #78909c;
    width: calc(100% - 300px);    
}

.menu-btn{
    float:left;
    cursor:pointer;
    color:white;
    font-size: 23px;
}

.logout{
    float: right;    
}
.logout a{
    color: white;
    font-size: 24px;
    text-decoration: none;
}

/*conteudo principal do painel*/

.content{
    position: relative;
    width: calc(100% - 300px);
    left: 300px;
    padding: 10px;        
}

.box-content{    
    padding: 10px;    
    margin-bottom: 10px;
}

.w100{
    width: 100%;
    background: red !important;
}

.w50{
    width: 49%;    
    background: red !important;
}

.left{
    float: left;
}

.right{
    float: right;
}


@media screen and (max-width: 768px){
    .menu{
        display: none;
    }

    .content{
        width: 100%;
        left: 0;
    }
    header{
        width: 100%;
        left: 0;
    }
}

